.page-statistics {
    padding: 25px 1.5rem 18px;
    background: #fff;
    min-height: 30px;
    width: 100%;
    vertical-align: top;
    position: relative;
    font-size: 12px;
    -webkit-user-select: none;
}
