.secondary-nav {
    z-index: 2;
    margin-top: -30px;
    top: 65px !important;
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
    margin-bottom: 20px;

    .nav {
        .nav-link {
            min-width: 100px;
            padding: 20px;
            display: table-cell;
            color: #545a6d;
            vertical-align: middle;
            outline: 0;
            font-weight: 600;
            font-size: 13px;
            border-bottom: 3px solid transparent;

            .icon {
                color: inherit;
                font-size: 15px;
                margin-right: 8px;
                vertical-align: middle;
            }
        }
        .nav-link.active {
            color: $primary;
            border-color: $primary;
            .icon {
                color: $primary;
            }
        }
        .nav-link.disabled {
            opacity: 0.5;
            cursor: no-drop;
        }
        .nav-link:hover {
            color: $primary;
        }
        .nav-link.active:hover {
            color: $primary;
        }
    }

    .dropdown-item.active,
    .dropdown-item:hover {
        color: $primary;
    }
}

.secondary-nav.bg-dark {
    .nav .nav-link {
        color: $text-muted;
    }
    .nav .nav-link.active {
        color: $primary;
    }
    .nav .nav-link:hover {
        color: $white;
    }
    .nav .nav-link.active:hover {
        color: $primary;
    }
}
.secondary-nav.bg-dark.border-top {
    border-color: #2f4d61 !important;
}
