<div>
    <section class="section">
        <div class="container">
            <PageIntroduction :intro="page_intro" />
            <div class="row">
                <div class="col-12">
                    <div class="page-toolbar">
                        <div class="loading-layer" v-if="loading"></div>
                        <button type="button" class="btn btn-dark" @click="tableData()" :disabled="loading">
                            <i class="mdi mdi-refresh align-middle"></i>
                        </button>
                        <div class="form-group float-right">
                            <input class="form-control" placeholder="搜索机器人账户" @keydown.13="tableData()" v-model="search" />
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body pt-0">
                            <a-table
                                class="text-norwap"
                                :scroll="{ x: true }"
                                :columns="table.cols"
                                :dataSource="table.rows"
                                :pagination="pagination"
                                :loading="loading"
                                :locale="locale"
                                :rowKey="records => records.id"
                                :rowSelection="{ onChange: tableOnSelect, selectedRowKeys: selectedRowKeys, }"
                                @change="tableChange"
                            >
                                <template slot="id" slot-scope="id">
                                    <span class="text-muted">{{ id }}</span>
                                </template>
                                <template slot="disable" slot-scope="disable">
                                    <span class="text-muted">{{ disable }}</span>
                                </template>
                                <template slot="permissions" slot-scope="permissions">
                                    <span class="text-muted">{{ permissions.length }} 个</span>
                                </template>
                                <template slot="creation_time" slot-scope="creation_time">{{ creation_time | toLocalTime }}</template>
                                <template slot="expires_at" slot-scope="expires_at">
                                    <span class="text-muted">{{ expires_at * 1000 | toLocalTime }}</span>
                                </template>
                            </a-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
