<div>
    <ReposType :load="init" />
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-md-7">
                            <div class="section-title" v-if="searching">
                                <div class="text-muted" v-if="$route.query.search">
                                    正在搜索关键字<b class="text-primary"> {{ $route.query.search }} </b>中...
                                </div>
                                <div class="text-muted" v-else>正在加载数据中...</div>
                            </div>
                            <div class="section-title" v-else>
                                <div class="text-muted">
                                    1 - 10 of {{ repos.length }} available images.
                                    <span v-if="$route.query.search">
                                        search <b class="text-primary">{{ $route.query.search }}</b>,
                                        <button
                                            class="btn btn-pills btn-sm btn-outline-dark"
                                            @click="clearSearch"
                                        >clear search</button>
                                    </span>
                                </div>
                            </div>
                            <div class="tagcloud mt-3">
                                <a v-for="(filter, index) in $vars.reposFilters" @click="filterRemove(index, filter)">
                                    <span class="mr-1 opacity-7">x</span>
                                    {{ filter.name }}
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0" v-if="!searching">
                            <div class="form custom-form">
                                <div class="form-group mb-0">
                                    <select class="form-control custom-select" disabled>
                                        <option>Sort by latest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="!searching">
                        <div
                            class="col-lg-4 col-md-6 col-12 mt-4 pt-2"
                            v-for="(item, index) in repos" :key="index"
                        >
                            <router-link :to="{
                                name: 'repos-detail',
                                params: {
                                    project: item.name.split('/')[0],
                                    repo: item.name.split('/')[1]}
                                }"
                            >
                                <div class="repo-card media key-feature align-items-center p-4 rounded shadow bg-white">
                                    <img
                                        v-if="item.logo"
                                        :src="`${item.logo}`"
                                        class="avatar avatar-md-sm" alt=""
                                    />
                                    <svg
                                        v-else
                                        id="svg-icon-templet"
                                        viewBox="0 0 24 24"
                                        fill="#b6c2cd"
                                        style="color: #939ea9; width: 45px;"
                                    ><g fill-rule="evenodd"><path d="M3.295 17l8.23 4.751.026-9.455-8.23-4.751z"></path><path fill="currentColor" d="M12.351 12.296l-.027 9.455L20.5 17l.027-9.455zm-8.63-5.552l8.23 4.752 8.176-4.751-8.23-4.752z"></path></g></svg>
                                    <div class="media-body ml-3">
                                        <div class="text-dark mb-3 font-size-14">{{ item.name }}</div>
                                        <div class="text-muted mb-3">
                                            <div v-if="item.hasOwnProperty('by')"><span class="opacity-4">-</span> By <span class="text-primary">{{ item.by }}</span></div>
                                            <div><span class="opacity-4">-</span> Updated {{ item.update_time }}</div>
                                        </div>
                                        <p class="text-dark descr">{{ item.description }}</p>
                                        <ul
                                           class="list-unstyled d-flex justify-content-between border-top mt-3 pt-3 mb-0"
                                        >
                                            <li class="text-muted small">
                                                {{ item.pull_count || '-'}} <span class="opacity-6">Pulls</span>
                                            </li>
                                            <li class="text-muted small ml-3">
                                                {{ item.stars || '-' }} <span class="opacity-6">Stars</span>
                                            </li>
                                            <li class="text-muted small ml-3">
                                                {{ item.versions || '-' }} <span class="opacity-6">Versions</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
